// ---------------------
//     BASE
// ---------------------

    // *--------- LAYOUT ---------*

    // *--------- COLORS ---------*
    $base__background-color: #fff;
    $base__border-color: #ececec;
    $special__text-color: #29D58E;
    $special__background-color: #29D58E;